[CIrepo]
name={{ ciname }}
baseurl=http://pkg-ci-{{ location }}.xx.xx/repository
        http://pkg-ci-{{ secondary_location }}.xx.xx/repository
failovermethod={{ failovermethod }}
gpgcheck={{ gpgcheck }}
