/log/apache-log/*log
{
  {{ condition }}
  dateext
  dateformat .%Y%m%d-%s
  copytruncate
  rotate {{ rotate_count }}
  missingok
  notifempty
  sharedscripts
  compress
  postrotate
    /bin/systemctl reload httpd.service > /dev/null 2>/dev/null || true
  endscript
}
